<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="permissionService" class="cn.edu.guet.permission.PermissionServiceImpl">
		<property name="permissionDao" ref="permissionDao"></property>
	</bean>
	<bean id="permissionDao" class="cn.edu.guet.permission.PermissionDaoImpl"></bean>

	<bean id="customerService" class="cn.edu.guet.customer.CustomerServiceImpl">
		<property name="customerDao" ref="customerDao"></property>
	</bean>
	<bean id="customerDao" class="cn.edu.guet.customer.CustomerDaoImpl"></bean>
	
	<bean id="productService" class="cn.edu.guet.product.ProductServiceImpl">
		<property name="productDao" ref="productDao"></property>
	</bean>
	<bean id="productDao" class="cn.edu.guet.product.ProductDaoImpl"></bean>
	
	<bean id="roleService" class="cn.edu.guet.roles.RoleServiceImpl">
		<property name="roleDao" ref="roleDao"></property>
	</bean>
	<bean id="roleDao" class="cn.edu.guet.roles.RoleDaoImpl"></bean>
	
	<bean id="userService" class="cn.edu.guet.users.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
		<property name="roleDao" ref="roleDao"></property>
	</bean>
	<bean id="userDao" class="cn.edu.guet.users.UserDaoImpl"></bean>
	
	<bean id="shoppingCartService" class="cn.edu.guet.shoppingcart.ShoppingCartServiceImpl">
		<property name="iscd" ref="shoppingCartDao"></property>
	</bean>
	
	<bean id="shoppingCartDao" class="cn.edu.guet.shoppingcart.ShoppingCartDaoImpl"></bean>
	
	
</beans>