body
{
    background-color: white;
}
#topwindow
{
    width: 1520px;
    height: 200px;
    position: relative;
    margin:0 auto;
}
#userinfo
{   
    width: 100%;
    height: 33px;
    background-color: rgb(227, 227, 227);
    position: absolute;
}
#userinfo ul
{   
    width: 800px;
    height: 33px;
    text-align: center;
    margin-top: -2px;
    margin-left: 300px;
}
#userinfo ul li
{
    width: 80px;
    font-size: 13px;
    float: left;
    text-align: center;
	line-height: 38px;
    list-style: none;  
}
#userinfo a:link
{
    text-decoration:none;
}
#userinfo a
{
    color:rgb(134, 134, 134); 
}

#searchwindow
{
    width:1320px;
    height:150px;
    position: absolute;  
    margin-top: 33px; 
   
}
#searchwindow img
{

    position: absolute;
    margin-top: 30px;
    margin-left: 60px;
}
#search
{   
    height: 100px;
    width:500px;
    position: absolute; 
    margin-left: 650px;
    margin-top: 30px;
}
#search form
{
    width: 500px;
    height: 80px;
    position: absolute;
    margin-top: 10px;
}
#search form p:nth-child(1) input
{
    width: 400px;
    height: 40px;
    border:3px solid rgb(252, 77, 77);
}
#search form p:nth-child(2) input
{
    width: 85px;
    height: 40px;
    border:3px solid rgb(252, 77, 77);
    background-color: rgb(252, 77, 77);
    color:white;
    margin-left: 400px;
    margin-top: -56px;
}
#search ul
{
    width: 111px;
    height: 50px;
    margin-left: 470px;
    margin-top: 24px;
}
#search ul li 
{
    width: 108px;
    height: 40px;
    background-color:rgb(249, 249, 249);
    border:none;
    list-style: none;
    text-align: center;
    line-height: 40px;
}
#search a
{
    color:red;
}
#search a:link
{
    text-decoration: none;
}


#shoppingcart
{
    width: 1520px;
    height: 210px;
    position: relative; 
    margin:0 auto;   
}
#shoppingcart1
{
    width: 100%;
    height: 40px;
    position: absolute; 
}
#shoppingcart2
{
    width:100%; 
    height: 170px;
    background-color:rgb(227, 227, 227);
    position: absolute; 
    margin-top: 3px;
}
#shoppingcart1 ul
{
    margin-left: 100px;
    margin-top: -30px;
    position: absolute;
}
#shoppingcart1 ul li
{
    width: 100px;
    font-size: 20px;
    float: left;
    text-align: center;
    line-height: 20px;
    list-style: none;
}
#shoppingcart a
{
    color: black;
}
#shoppingcart a:link
{
    text-decoration: none;
}
#shoppingcart ul li:nth-child(1)
{
    width: 180px;
}
#crossline/*红色分界线*/
{
    width: 100%;
    height: 3px;
    border-top: 3px solid red;
    margin-top: 37px;
}
#product
{
    width:650px;
    height:170px;
    margin-left: 100px;
    position: relative;
}
#product img
{
    margin-left:20px;
    margin-top: 50px;

}
#product form li:nth-child(1)
{
    list-style: none;
    font-size: 10px;
    font-weight: 600;
    margin-left: 130px;
    margin-top: -30px;
}
#product form li:nth-child(2)
{
    list-style: none;
    font-size: 10px;
    margin-left: 130px;
    margin-top:-70px;
    font-size: 16px;
    font-weight: 700;
}
#product form li:nth-child(3)
{
    list-style: none;
    font-size: 10px;
    margin-left: 20px;
    margin-top: -100px;
    font-size: 16px;
    font-weight: 700;
}
#checkout
{
    width: 500px;
    height: 50px;
    position: relative;
    margin-left: 650px;
    margin-top: -90px;
}
#checkout form p:nth-child(1) input
{
    width: 200px;
    height: 45px;
    border: 3px solid white;
    background-color: white;
    color: red;
    position: absolute;
    margin-left: 50px;
}
#checkout form p:nth-child(2) input
{
    width: 200px;
    height: 45px;
    border:3px solid rgb(252, 77, 77);
    background-color: red;
    font-size: 15px;
    color: white;
    position: absolute; 
    margin-left: 270px;
}


#recommendation
{
    width: 1320px;
    height: 800px;
    position: relative;   
    margin:0 auto;  
}
#recommendation1
{
    width: 100%;
    height: 400px;
    position: absolute;
}
#recommendation2
{
    width: 100%;
    height: 400px;
    position: absolute;
    margin-top: 400px; 
}
#recommendation3
{
    width: 100%;
    height: 400px;
    position:absolute;
    margin-top: 800px;
}

#listtop1 /*切换商品页面按钮*/
{
   float: left;
   width: 30px;
   height: 30px;
   border: 1px solid pink;
   text-align: center;
   text-decoration: none;
   line-height: 30px;
   margin-left: 15px;
}
#listtop2 /*切换商品页面按钮*/
{
   float: left;
   width: 30px;
   height: 30px;
   border: 1px solid pink;
   text-align: center;
   text-decoration: none;
   line-height: 30px;
   margin-left: 15px;
}
#chooselist /*鼠标悬浮事件，切换商品*/
{
    width: 200px;
    height: 50px;
    margin: 0 auto;
}
#chooselist2 /*鼠标悬浮事件，切换商品*/
{
    width: 200px;
    height: 50px;
    margin: 0 auto;
}

#tag input
{
    width:230px;
    height: 25px;
    background-color: white;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 10px;   
}
#rec1
{
    width: 330px;
    height: 150px; 
}
#rec2
{
    width: 330px;
    height: 150px;
    margin-left:330px;
    margin-top: -150px;
   
}
#rec3
{
    width: 330px;
    height: 150px;
    margin-left:660px;
    margin-top: -150px;
}
#rec4
{
    width: 330px;
    height: 150px;
    margin-left:990px;
    margin-top: -150px;

}
#rec5
{
    width: 330px;
    height: 150px;
    margin-left:990px;
    margin-top:0 px; 
}
#rec6
{
    width: 330px;
    height: 150px; 
    margin-left:660px;
    margin-top:-152px; 
}
#rec7
{
    width: 330px;
    height: 150px;
    margin-left: 330px;
    margin-top: -152px;
}
#rec8
{
    width: 330px;
    height: 150px;
    margin-top: -152px;
}


/*
    1.去除文字下划线
    2.文字定位
    3.按钮定位
*/
#recommendation1 a:link
{
    text-decoration: none;
}
#recommendation1 form p
{
    margin-left:150px; 
    margin-top: -30px;
}
#recommendation1 form li
{
    margin-left: 150px;
    margin-top: -125px;
    height: 85px;
    width: 150spx;
    font-size: 12px;
    list-style: none;
}
#recommendation1 a:hover
{
    color: red;
}
#recommendation2 a:hover
{
    color:red;
}
#recommendation1 a
{
    color:black;
}
#recommendation2 a
{
    color: black;
}
#recommendation3 a
{
    color: black;
}




#recc1
{
    width: 330px;
    height: 150px;
    margin-top: 10px;
}
#recc2
{
    width: 330px;
    height: 150px;
    margin-left: 330px;
    margin-top:-150px;  
}
#recc3
{
    width: 330px;
    height: 150px;
    margin-left: 660px;
    margin-top:-150px;   
}
#recc4
{
    width: 330px;
    height: 150px;
    margin-left: 990px;
    margin-top: -150px;  
}
#recc5
{
    width: 330px;
    height: 150px;
    margin-left: 990px;   
}
#recc6
{
    width: 330px;
    height: 150px;
    margin-left: 660px;
    margin-top: -150px; 
}
#recc7
{
    width: 330px;
    height: 150px;
    margin-left: 330px;
    margin-top: -150px;     
}
#recc8
{
    width: 330px;
    height: 150px;
   margin-top: -150px;  
}

#bottom2
{
    width:200px;
    height: 35px;
    margin:0 auto;
    margin-top: 10px;
}

/*
    1.去除文字下划线
    2.文字定位
    3.按钮定位
*/
#recommendation2 a:link
{
    text-decoration: none;/*去除文字下划线*/
}
#recommendation2 form p
{
    margin-left:150px; 
    margin-top: -30px;s
}
#recommendation2 form li
{
    height: 85px;
    width: 150spx;
    font-size: 12px;
    list-style: none;
    margin-left: 150px;
    margin-top: -125px;
}

#bottombutton2
{
    width:500px;
    height: 35px;
    margin-top: -10px;
    margin-left:500px;   
}
#bottombutton2 ul li
{
    width:30px;
    height: 30px;
    font-size: 20px;
    list-style: none;
    font-weight: 500;
    
    background-color: antiquewhite;
    text-align: center;
    line-height: 30px;
    float: left;
    margin-left: 20px;
    
}


#reccc1
{
    width: 330px;
    height: 350px;
    
    position:absolute;
}
#reccc2
{
    width: 330px;
    height: 350px;
   
    position:absolute;
    margin-left: 330px;
}
#reccc3
{
    width: 330px;
    height: 350px;
    
    position:absolute;
    margin-left: 660px;
}#reccc4
{
    width: 330px;
    height: 350px;
    
    position:absolute;
    margin-left: 990px;
   
}
#reccc1 img
{
   margin-left:60px;
   margin-top: 100px;
}
#reccc1 ul :nth-child(1)
{
    margin-top:-280px;
    margin-left: 10px;
    list-style: none;
    
  
}
#reccc1 ul :nth-child(2)
{
    margin-top:10px;;
    margin-left: 60px;
    list-style: none;
    
  
}
#reccc1 a:link
{
    text-decoration: none;
}
#reccc1 form p:nth-child(1)
{
    margin-top: 220px;
    margin-left: 100px;
}#reccc1 form p:nth-child(2)
{
    margin-top: -42px;
    margin-left: 190px;
}

#reccc2 img
{
   margin-left:60px;
   margin-top: 100px;
}
#reccc2 ul :nth-child(1)
{
    margin-top:-280px;
    margin-left: 10px;
    list-style: none;
}
#reccc2 ul :nth-child(2)
{
    margin-top:10px;;
    margin-left: 60px;
    list-style: none;
}
#reccc2 a:link
{
    text-decoration: none;
}
#reccc2 form p:nth-child(1)
{
    margin-top: 220px;
    margin-left: 100px;
}#reccc2 form p:nth-child(2)
{
    margin-top: -42px;
    margin-left: 190px;
}
#reccc3 img
{
   margin-left:60px;
   margin-top: 100px;
}
#reccc3 ul :nth-child(1)
{
    margin-top:-280px;
    margin-left: 10px;
    list-style: none;
}
#reccc3 ul :nth-child(2)
{
    margin-top:10px;;
    margin-left: 60px;
    list-style: none;
}
#reccc3 a:link
{
    text-decoration: none;
}
#reccc3 form p:nth-child(1)
{
    margin-top: 220px;
    margin-left: 100px;
}#reccc3 form p:nth-child(2)
{
    margin-top: -42px;
    margin-left: 190px;
}
#reccc4 img
{
   margin-left:60px;
   margin-top: 100px;
}
#reccc4 ul :nth-child(1)
{
    margin-top:-280px;
    margin-left: 10px;
    list-style: none;
}
#reccc4 ul :nth-child(2)
{
    margin-top:10px;;
    margin-left: 60px;
    list-style: none; 
}
#reccc4 a:link
{
    text-decoration: none;
}
#reccc4 form p:nth-child(1)
{
    margin-top: 220px;
    margin-left: 100px;
}#reccc4 form p:nth-child(2)
{
    margin-top: -42px;
    margin-left: 190px;
}

#bottominfo 
{
    width: 100%;
    height: 670px;
    margin-top: 400px;
    position: absolute;  
}




















