.header{
    height:100px;
    width: 1920px;
    position: relative;
    box-shadow: 0 5px 5px rgba(85, 78, 78, 0.13);
}

.bg{display:none;position:fixed;width:100%;height:100%;background:rgba(97, 97, 97, 0.548);z-index:2;top:0;left:0;opacity:0.7;}

.agreement{
    margin-top:150px;
    margin-left:500px;
    background: white;
    height: 600px;
    width: 900px;
    display:none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
    position:fixed;
    z-index:3;
}

.agreement-button{
    height: 100px;
    margin-top:500px;
    margin-left: 160px;
    position: absolute;
}

.agreement-button input{
    width: 250px;
    height: 60px;
}

.agreement-button input:nth-child(1){
    background: #E2E3E4;
    color: #9F9F9F;
    font-size: 22px;
    border: 1px solid #9F9F9F;
}

.agreement-button input:nth-child(2){
    margin-left: 70px;
    background:red;
    color: white;
    font-size: 22px;
    border: 1px solid red;
}

.registerlogo{
    margin-left: 300px;
    position: absolute;
}
.header span:nth-child(2){
    margin-top:40px;
    margin-left: 520px;
    position: absolute;
    font-size: 26px;
    font-weight: 500;
    
}

.header span:nth-child(3){
    margin-top:50px;
    margin-left: 1280px;
    position: absolute;
    color:#989898;
}

.header a{
    margin-top:50px;
    margin-left: 1370px;
    position: absolute;
    color: red;
    
}

.header a:link{
    text-decoration:none;
}

.plan{
    position: relative;
}

.progress-bar{
    width: 500px;
    margin-left: 725px;
    margin-top: 110px;
    position: absolute;
}

.pro-step-1{
    position: absolute;
}

.step-index1{
    display: block;
    border-radius: 90px;
    background: #30BA47;
    border: 1px solid #30BA47;
    color: white;
    text-align:center;
    line-height:30px;
    width: 30px;
}

.step-desc1{
    margin-left: -12px;
    font-size: 12px;
    color: #30BA47;
}

.step-index2{
    display: block;
    border-radius: 90px;
    background: rgb(255, 255, 255);
    color: #989898;
    border: 1px solid #989898;
    text-align:center;
    line-height:30px;
    width: 30px;
}
.step-desc2{
    margin-left: -20px;
    font-size: 12px;
    color: #989898;
}
.step-index3{
    display: block;
    border-radius: 90px;
    background: rgb(255, 255, 255);
    border: 1px solid #989898;
    color: #989898;
    text-align:center;
    line-height:30px;
    width: 30px;
}
.step-desc3{
    margin-left: -8px;
    font-size: 12px;
    color: #989898;
}


.pro-step-2{
    margin-left: 195px;
    position: absolute;
}
.pro-step-3{
    margin-left: 383px;
    position: absolute;
}

.step-line-1{
    margin-left: 47px;
    margin-top: 3px;
    font-size: 19px;
    font-weight: 550;
    color: #D1D1D1;
    position: absolute;
}

.step-line-2{
    margin-left: 235px;
    margin-top: 3px;
    font-size: 19px;
    font-weight: 550;
    color: #D1D1D1;
    position: absolute;
}


.wrapper{
    width: 1920px;
    height: 800px;
    position: relative;
}

.plan{
    width: 1920px;
    height: 200px;
    position: absolute;
}

.planpic{
    margin-top: 50px;
    margin-left:680px;
    position: absolute;
}
.registerForm{
    margin-top: 230px;
    
    height: 400px;
    width: 1900px;
    position: absolute;
}

.registerForm form{
    height: 400px;
    width: 600px;
    margin-left:730px;
    position: absolute;
}

.registerForm input{
    height: 50px;
}

.registerForm input:nth-child(1){
    margin-top: 0px;
    background: rgb(255, 255, 255);
    border: 1px solid #DCDCDC;
    width: 110px;
    position: absolute;
}

.registerForm input:nth-child(2):hover{
    margin-top: 0px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    width: 290px;
    position: absolute;
}

.registerForm input:nth-child(2){
    margin-top: 0px;
    border: 1px solid #DCDCDC;
    margin-left: 109px;
    width: 290px;
    font-size: 20px;
    position: absolute;
}

.registerForm input:nth-child(3){
    margin-top: 100px;
    border: 1px solid #DCDCDC;
    background: white;
    width: 400px;
    font-size: 17px;
    position: absolute;
}

.registerForm input:nth-child(3):hover{
    margin-top: 100px;
    border: 1px solid rgb(0, 0, 0);
    background: white;
    width: 400px;
    font-size: 17px;
    position: absolute;
}
.registerForm input:nth-child(4){
    margin-top: 200px;
    border: 1px solid #DCDCDC;
    background: red;
    width: 400px;
    color: white;
    font-size: 17px;
    position: absolute;
}

.registerForm input:nth-child(4):hover{
    margin-top: 200px;
    border: 1px solid #DCDCDC;
    background:#C71622;
    width: 400px;
    color: white;
    font-size: 17px;
    position: absolute;
}
.phone-number{
    color:#989898;
}
.bottom{
    width: 1100px;
    border-top:1px solid #e6e6e6;
    margin-left: 400px;
    margin-top:670px;
    position: absolute;
}
.bottom-text{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 13px;
}
.bottom-text a{
    margin-left: 40px;
    color: #989898;
}

.bottom-text a:link{
    text-decoration:none;
}

.bottom-text a:hover{
    text-decoration:underline;
}
.comparision-verifycode{
	z-index:3;
	display:none;
	border:1px solid #D1D1D1;
	position:fixed;
	margin-top:-650px;
	margin-left:670px;
	background:white;
	height:270px;
	width:500px;
}
.verifycode{
	border:1px solid #D1D1D1;
	width:300px;
	height:50px;
	margin-top:60px;
	margin-left:100px;
	font-size:20px;
	padding:20px;
}
.cubmit-verifycode{
	border:1px solid red;
	font-size:18px;
	color:white;
	background:red;
	position:fixed;
	margin-top:150px;
	margin-left:-250px;
	width:200px;
	height:50px;
}

.mailbox-verify{
    position:relative;
    margin-top:-570px;
    margin-left: 700px;
    display: none;
}

#code,
#password,
#confPassword,
#mail,
#mailCode {
    border:1px solid #D1D1D1;
    width: 400px;
    height: 45px;
    color: rgb(154, 168, 148);
    font-size: 15px;
}

label{
    width: 100px;
}

#mailCode {
    width: 200px;
}

#sendMailCode {
    width: 200px;
    height: 45px;
    color: rgb(154, 168, 148);
    font-size: 15px;
}

#next,
.registerImmediately {
    border: 1px solid #DCDCDC;
    height: 45px;
    margin-left: 40px;
    background: red;
    width: 400px;
    color: white;
    font-size: 17px;
}
#mailDiv1,#mailDiv2{
    display:inline;
}
#mailDiv1{
    margin-right:-5px;
}

#passCheck{
    display: none;
}
#mailCheck{
	display:none;
}
.finish-interface{
	display:none;
	position:relative;
    margin-top:-550px;
    margin-left: 630px;
}
.finish-logo{
	margin-left:-50px;
	border-radius: 60px/60px;
    background:#30BA47;
    font-size:50px;
    color: white;
    text-align:center;
    line-height:70px;
    width: 70px;
    height:70px;
}

.finish-interface p{
	font-size:32px;
	margin-top:-55px;
	margin-left:50px;
}
.go-to-shopping{
	border: 1px solid #DCDCDC;
    height: 45px;
    margin-top:60px;
    margin-left: 170px;
    background: red;
    width: 250px;
    color: white;
    font-size: 17px;
}


